{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="slider_section long_section">
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="detail-box">
                                    <h1>
                                        For All Your <br>
                                        Furniture Needs
                                    </h1>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores
                                        perspiciatis, illo maxime voluptatem a itaque suscipit.
                                    </p>
                                    <div class="btn-box">
                                        <a href="{% url 'pages:contact' %}" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="{% url 'pages:about' %}" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="img-box">
                                    <img src="{% static 'images/slider-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="detail-box">
                                    <h1>
                                        For All Your <br>
                                        Furniture Needs
                                    </h1>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores
                                        perspiciatis, illo maxime voluptatem a itaque suscipit.
                                    </p>
                                    <div class="btn-box">
                                        <a href="{% url 'pages:contact' %}" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="{% url 'pages:about' %}" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="img-box">
                                    <img src="{% static 'images/slider-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container ">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="detail-box">
                                    <h1>
                                        For All Your <br>
                                        Furniture Needs
                                    </h1>
                                    <p>
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores
                                        perspiciatis, illo maxime voluptatem a itaque suscipit.
                                    </p>
                                    <div class="btn-box">
                                        <a href="{% url 'pages:contact' %}" class="btn1">
                                            Contact Us
                                        </a>
                                        <a href="{% url 'pages:about' %}" class="btn2">
                                            About Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="img-box">
                                    <img src="{% static 'images/slider-img.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel" data-slide-to="1"></li>
                <li data-target="#customCarousel" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <!-- furniture section -->

    <section class="furniture_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Furniture
                </h2>
                <p>
                    which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                    need to be sure there isn't an
                </p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f1.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                brown Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 100.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f2.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Double Bed Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f3.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                House Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f4.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                brown Table Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 100.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f5.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Blue Chair Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="box">
                        <div class="img-box">
                            <img src="{% static 'images/f6.png' %}" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Brown Table Design
                            </h5>
                            <div class="price_box">
                                <h6 class="price_heading">
                                    <span>$</span> 200.00
                                </h6>
                                <a href="">
                                    Buy Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end furniture section -->
    <!-- about section -->

    <section class="about_section layout_padding long_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="{% static 'images/about-img.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                About Us
                            </h2>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorem eum consequuntur
                            ipsam repellat dolor soluta aliquid laborum, eius odit consectetur vel quasi in quidem,
                            eveniet ab est corporis tempore.
                        </p>
                        <a href="{% url 'pages:about' %}">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- blog section -->

    <section class="blog_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Latest Blog
                </h2>
            </div>
            <div class="row">
                {% for blog in blogcreatemodel_list %}
                    <div class="col-md-6 col-lg-4 mx-auto">
                        <div class="box">
                            <div class="img-box">
                                <img width="200px" height="200px" src="{{ blog.image.url }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ blog.title }}
                                </h5>
                                <p>
                                    {{ blog.body }}
                                </p>
                                <a href="{% url 'blog:blog_detail' blog.slug %}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- end blog section -->
    <!-- contact section -->
    <section class="contact_section  long_section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <div class="heading_container">
                            <h2>
                                Contact Us
                            </h2>
                        </div>
                        {% include 'pages/email_form.html' with form=email_form %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                        <div class="map">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->
{% endblock %}